.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #FFCCBC;
}

.cardTitle {
    font-weight: bold;
    color: #212121;
    margin-left: 10px;
}

.cardText {
    color: #212121;
    text-align: start;
    margin-left: 10px;
}

.cardDivider {
    color: #FF5722;
    width: fit-content;
    margin-left: 10px;
    margin-right: 10px;
}