.inputForm {
    width: 268px;
    height: 49px;
    border: none;
    border-radius: 2px;
    border-bottom: 1px solid #E64A19;
    color: #212121;
    font-size: medium;
    margin-bottom: 10px;
    padding-left: 10px;
}

.inputSelect {
    width: 280px;
    height: 49px;
    border: none;
    border-radius: 2px;
    border-bottom: 1px solid #E64A19;
    color: #212121;
    font-size: medium;
    margin-bottom: 10px;
    padding-left: 10px;
}

.inputMultiSelect {
    width: 351px;
    height: 335px;
    border-radius: 5px;
    border: none;
    background-color: #FFFFFF;
    color: #212121;
    font-size: medium;
    text-align: start;
    padding-left: 10px;
    padding-top: 10px;
    list-style: none;
}

.inputMultiSelect::selection {
    background-color: #FF5722;
}

.btnForm {
    background-color: #FF5722;
    color: #212121;
    border-radius: 20px;
    width: 268px;
    height: 31px;
    border: none;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.disabled {
    background-color: gray;
    color: white;
    cursor: default;
    border-radius: 20px;
    width: 268px;
    height: 31px;
    border: none;
}

.btnForm:hover {
    background-color: #FFCCBC;
    color: #212121;
    font-weight: 600;
}

.title {
    width: fit-content;
    color: #FF5722;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
}

.formContent {
    background-color: rgba(51, 76, 223, 0.8);
    border-radius: 8px;
    border: none;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.inputLabel {
    color: #FFCCBC;
    margin-right: auto;
    width: fit-content;
    font-size: 18px;
}

.container {
    margin: auto;
    width: fit-content;
    text-align: center;
}

@media (max-width: 800px) {
    .formContent {
        width: min-content;
    }
}

.errorInput {
    border: 1px solid red;
}

.errorMessage {
    color: white;
    border: 1px solid rgb(0, 0, 0);
    background-color: red;
    border-radius: 3px;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    transition: ease-out 0.2s;
    margin-left: auto;
}